body{
    background-color: rgb(255, 255, 255) !important;
    text-align: center !important;
    margin: 0 !important;
}
#hlavicka{
    background-color: #026881 !important;
}

table.portal_menu td.odsazena{
    background-color: #026881 !important;
    color: white !important;
}

table.portal_menu td.odsazena a{
    color: white !important;
}

table.portal_menu{
    text-align: center !important;
}

#titulek h1{
    background-image: none;
    font-size: 23px !important;
    padding-left: 1px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #ffffff !important;
    border: none !important;
    color: #026881 !important;
    text-align: center;
}

#titulek div{
    text-align: center !important;
}

#titulek b{
    padding-top: 15px!important;
    padding-bottom: 35px!important;
    color: #026881 !important;
}

#titulek hr{
    display: none;
}

#titulek{
    margin-bottom: 35px !important;
}

span.small{
    max-width: 700px;

}

.small{
    width: auto !important;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

tr.zahlavi{
    color: #026881 !important;
    background-color: #eef6f8 !important;
}

a{
    color: #026881 !important;
}

tr.sudy{
    background-color: #eef6f8 !important;
}

#ema a, #odkazy_fakult a{
    color: white !important;
}


div.ramecek-boky,div.ramecek-nahore{
    background: none !important;
    
}

div.menu-drzak{
    background: none !important;
}
span.sekce-nadpis{
    z-index: 10 !important;
    color: #ffffff !important;
    margin-top: 5px !important;
}
div.ramecek-nahore{
    background-color: #026881 !important;
    margin: 0 !important;
    border-radius: 0.3rem 0.3rem 0 0 !important;
    height: 5px !important;
}
div.ramecek-dole{
    display: none;
}

div.ramecek-nahore-1,div.ramecek-nahore-2,div.ramecek-dole-3,div.ramecek-dole-4{
    display: none !important;
}

div.ramecek-boky{
    background-color: #e4f2f5 !important;
    border: none !important;
    border-left: #026881 0.2px solid !important;
    border-right: #026881 0.2px solid !important;
    border-bottom: #026881 0.2px solid !important;
    padding: 10px 0 !important;
    box-shadow: inset 0px 43px 7px -5px #026881;
    border-radius: 0 0 0.3rem 0.3rem !important;

}

li{
    list-style: square !important;
    background: none !important;
    padding-left: 1px !important;
}