body{
    background-color: #393E46 !important;
    text-align: center !important;
    margin: 0 !important;
}
#hlavicka{
    background-color: #232931 !important;
}

#menu{
    font-size: 14px!important;
    background-color: #1d2127 !important;
}

#titulek h1{
    background-image: none;
    font-size: 23px !important;
    padding-left: 1px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color:  #393E46 !important;
    border: none !important;
    color: #ececec !important;
    text-align: center;
}

#titulek div{
    text-align: center !important;
}

#titulek b{
    padding-top: 15px!important;
    padding-bottom: 35px!important;
    color:  #ececec !important;
}
span{
    color: #e3e3e3 !important;
}

#titulek hr{
    display: none;
}

#titulek{
    margin-bottom: 35px !important;
}

span.small{
    max-width: 700px;

}

span.evaluate_question_ok, span.evaluate_question_ko{
    color: black !important;
}
p{
    color: #e3e3e3 !important;
}

div{
    color: #eef6f8 !important;
}

.small{
    width: auto !important;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

tr.zahlavi{
    color: #232931 !important;
    background-color: #eef6f8 !important;
}

a{
    color: rgb(67, 167, 255) !important;
}
tr{
    color: #dddddd;
}
tr.sudy{
    background-color: #30363d !important;
}

tr.uis-hl-table:hover{
    background-color: #454a53 !important;
}

#ema a, #odkazy_fakult a{
    color: white !important;
}


div.ramecek-boky,div.ramecek-nahore{
    background: none !important;
    
}

div.menu-drzak{
    background: none !important;
}
span.sekce-nadpis{
    z-index: 10 !important;
    color: azure !important;
    margin-top: 5px !important;
}
div.ramecek-nahore{
    background-color: #232931 !important;
    margin: 0 !important;
    border-radius: 0.3rem 0.3rem 0 0 !important;
    height: 5px !important;
}
div.ramecek-dole{
    display: none;
}

div.ramecek-nahore-1,div.ramecek-nahore-2,div.ramecek-dole-3,div.ramecek-dole-4{
    display: none !important;
}

div.ramecek-boky{
    background-color: #30363d !important;
    border: none !important;
    border-left: #232931 0.2px solid !important;
    border-right: #232931 0.2px solid !important;
    border-bottom: #232931 0.2px solid !important;
    padding: 10px 0 !important;
    box-shadow: inset 0px 43px 7px -5px #232931;
    border-radius: 0 0 0.3rem 0.3rem !important;
}

li{
    list-style: square !important;
    background: none !important;
    padding-left: 1px !important;
}

.zasadky-info{
    border: none !important;
    background-color: #275072 !important;
    max-width: 400px;
}

.zasadky-crit{
    border: none !important;
    background-color: #722727 !important;
    max-width: 400px;
}

.vyveska{
    background-color: #1e4b3c !important;
}
.zasadka a{
    color: azure !important;
}

#loginform{
    background-color: #393E46 !important;
}


table.portal_menu td.odsazena{
    background-color: #232931 !important;
    color: white !important;
}

table.portal_menu td.odsazena a{
    color: white !important;
}

table.portal_menu{
    text-align: center !important;
}

table:not([style*="background-color: #F3F3F3; border-collapse: collapse; margin-bottom:20px;"]) {
    display: block;
    width: 100%;

    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}




.portal_menu td:not(.portal_menu_hole).active {
    box-shadow: none!important;
    min-height: 1.2rem!important;
    display: inline-block!important;
    border: solid 2px #2982d0!important;
    border-radius: 8px!important;
    margin: 0.4rem 0.2rem!important;
}

.portal_menu td:not(.portal_menu_hole) {
    display: inline-block!important;
    border: solid 1px lightgray!important;
    border-radius: 8px!important;
    min-height: 1.2rem!important;
    box-shadow: none!important;
    margin: 0.4rem 0.2rem!important;
    transition: none !important;
}

.portal_menu td.portal_menu_hole {
    display: none!important;
}

.portal_menu td:not(.portal_menu_hole):not(.active):hover {
    cursor: pointer!important;
    border-color: #2982d0!important;
    min-height: 1.2rem!important;
    transition: none !important;
}

div.UISSuggestPanel{
    background-color: #232931 !important;
}



div.obsah {
    background-color: rgb(57, 62, 70) !important;
}

th.zahlavi {
    background-color: rgb(36 37 41) !important;
    color: #d4dade !important;
    box-shadow: none !important;
    border-radius: .20rem .20rem 0 0 !important;
    border-width: 0 !important;

}


div div select {
    background-color: rgb(45 48 57) !important;
    border-color: gray !important;
    color: white !important;
    box-shadow: none !important;

}



div div input {
    background-color: rgb(36 37 41)!important;
    color: white!important;
    border-color: black!important;

}

td.zahlavi {
    background-color: rgb(36 37 41) !important;
    color: #d4dade !important;
    box-shadow: none!important;
    border-radius: .20rem .20rem 0 0!important;
    border-width: 0!important;

}

td.rozvrh-cvic {
    background-color: #17174e !important;
    color: white!important;
}

td.rozvrh-pred {
    background-color: #0d450a !important;
    color: white!important;
}


thead td.odsazena{
    background-color: rgb(36 37 41) !important;
    color: #d4dade !important;
    box-shadow: none!important;
    border-radius: .20rem .20rem 0 0!important;
    border-width: 0!important;
}

tr.zahlavi td.odsazena{
    background-color: rgb(36 37 41) !important;
    color: #d4dade !important;
    box-shadow: none!important;
    border-radius: .20rem .20rem 0 0!important;
    border-width: 0!important;
}

#uisFloatingBox {
    background: black!important;
}

tr:not(.zahlavi):nth-child(even of .lbn:not([style*="display: none"]):not(.hide-row):not([hidden])){
    background-color: #353941 !important;
}
tr:not(.zahlavi):nth-child(even of .lbn:not([style*="display: none"]):not(.hide-row):not([hidden])):hover{
    background-color: #454a53 !important;
}